/* block2 */
#wrap{
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: yellow;
}
.header{
    height: 100px;
    border: 1px solid #a52a2a;
    background-color: blue;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 600px;
    border: 1px solid red;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    height: 200px;
    border: 1px solid red;
    background-color: rgb(255, 115, 0);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}